jobs:
  main:
    runs-on: ubuntu-latest

    # Run only when PR title contains "build-apk" (case-insensitive)
    if: |
      github.event_name == 'pull_request' &&
      github.event.pull_request.title =~ '.*(?i)build-apk.*'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: "18"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.32.8'
          cache: true

      - name: Get Flutter packages
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build APK
        run: flutter build apk --release

      - name: Upload Android Release APK
        uses: actions/upload-artifact@v4
        with:
          name: android-release
          path: build/app/outputs/flutter-apk/app-release.apk
