name: Test & Build

on:
  pull_request:
    branches:
      - "**"

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Check PR title for 'build-apk'
        id: titlecheck
        run: |
          title="${{ github.event.pull_request.title }}"
          title_lower=$(echo "$title" | tr '[:upper:]' '[:lower:]')
          if [[ "$title_lower" == *"build-apk"* ]]; then
            echo "run_build=true" >> $GITHUB_OUTPUT
          else
            echo "run_build=false" >> $GITHUB_OUTPUT
          fi

      - name: Skip build if keyword missing
        if: steps.titlecheck.outputs.run_build == 'false'
        run: |
          echo "⚠️ PR title does not contain 'build-apk'. Build skipped."
          exit 0

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: "18"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.32.8'
          cache: true

      - name: Get Flutter packages
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build APK
        run: flutter build apk --release

      - name: Upload Android Release APK
        uses: actions/upload-artifact@v4
        with:
          name: android-release
          path: build/app/outputs/flutter-apk/app-release.apk
